

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/****************/
/*   Elements   */
/****************/

body,html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  color: #424242;
  -webkit-align-items: center;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  -webkit-user-select: none;
}

body, input {
  display: -webkit-flex;
  font-family: 'Avenir', 'NUNITO', 'Museo Sans', 'Muli', 'helvetica neue', helvetica, arial, sans-serif;
}

a, button {
outline: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #000000;
    text-align: center;
    line-height: 1.5vw;
}

button {
  font-size: 1.5vw;
  appearance: none;
  -webkit-appearance: none;
}

label {
  font-size: 1vw;
  cursor: pointer;
  position: relative;
}

/*updates list
ul {
  list-style-position: inside;
  font-size:0.8vw;
  margin-top: 0.2vw;
  width:25vw;
  padding-left: 1vw;
}*/

.timer-value {
  display: inline-block;
}
/*******************/
/*  Timer Classes  */
/*******************/

.timer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer, .clock, .timeup {
  -webkit-user-select: none;
  position: relative;
  margin-bottom: .4vw;
  font-size: 6vw;
  font-weight: 400;
  line-height: 1;
  cursor: default;
  white-space: nowrap;
}

.clock {
  margin-top:-.5vw;
  font-size: 8vw;
}

.timer-label {
  -webkit-user-select: none;
  text-align: center;
  flex-basis: 20px;
  flex-grow: 1;
}

.timer-labels {
  -webkit-user-select: none;
  display:flex;
  position: relative;
  margin: 0;
  margin-left:-1vw;
  margin-right:.5vw;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1;
  cursor: default;
}

#white-timer-age, #white-timer-clock, #white-timeup {
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

#black-timer-age, #black-timer-clock, #black-timeup {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#white-timer-labels {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#black-timer-labels {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*******************/
/*  Life Chapters  */
/*******************/

.pie {
  float: left;
  width: 1.9%;
  margin: 0.16%;
}

.circle {
  float: left;

  width: 1.9%;
  box-sizing: border-box;
  margin: 0.16%;
  border: solid transparent;
  border-radius: 50%;

  background-color: #424242;
}

/*******************/
/* Menu Button     */
/*******************/

#menu-button {
  position: fixed;
  left: 15px;
  top: 15px;
  cursor: pointer;
}

#menu-button:hover div {
  background: rgba(176, 7, 10, 1);
}

#menu-button:hover svg path {
  fill: #A1A1A1;
}

#menu-svg path {
  fill: #FFFFFF;
}

#updateBadge {
  position: absolute;
  top: 4px;
  right: 1px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  background: rgb(246, 45, 47);
}
